<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate New Articles</title>
    </head>

    <body>

        <header>
            <h1>Evaluate New Articles - Sentiment Analysis</h1>>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Enter URL of the News Article to analyze">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                    <section>         
                        <div id="msgid"></div>       
                        <div id="errorid"></div>
                    </section>
                </form>
            </section>

            <section id='resultsid'>
                <strong>Form Results:</strong>
                <div class="resultitem" id="results"></div>
                <div class="resultitem" id="model"></div>
                <div class="resultitem" id="score_tag"></div>
                <div class="resultitem" id="agreement"></div>
                <div class="resultitem" id="subjectivity"></div>
                <div class="resultitem" id="confidence"></div>
                <div class="resultitem" id="irony"></div>
            </section>

            
        </main>

        <footer>
            <p>Developed using Meaning Cloud API, Udacity Project by Sameer Mitra</p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>
    </body>
</html>
