<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate New Articles</title>
    </head>

    <body>

        <header>
            <h1>Evaluate News Articles</h1>>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Enter URL of the News Article to analyze">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                    <section>         
                        <div id="msgid"></div>       
                        <div id="errorid"></div>
                    </section>
                </form>
            </section>

            <section id='resultsid'>
                <strong>Form Results:</strong>
                <div id="results"></div>
                <div id="model"></div>
                <div id="score_tag"></div>
                <div id="agreement"></div>
                <div id="subjectivity"></div>
                <div id="confidence"></div>
                <div id="irony"></div>
            </section>

            
        </main>

        <footer>
            <p>Developed using Meaning Cloud API, Udacity Project by Sameer Mitra</p>
        </footer>

    </body>
</html>
