body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

#errorid {
    color: red;
}
#msgid {
    color: blue;
}

#resultsid {
    margin: 25px 25px 25px 25px;
    padding: 5px 5px 5px 5px;
}

.resultitem {
    padding: 5px 5px 5px 5px;
}